# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# VS Code
.vscode/

# Datasets and generated data files
backend/data/*
!backend/data/building_metadata.csv
# OS files
.DS_Store
Thumbs.db
# Environment variables
backend/.env
# Temporary/generated project files
project-files.txt
project-tree.txt