<aside class="sidebar">

    <!-- Logo -->
    <div class="logo">

        <h2>FacilityOps AI</h2>

        <p>Smart Building Platform</p>

    </div>

    <!-- Navigation -->
    <nav>

        <ul>

            <li onclick="location.href='../pages/dashboard.html'">

                <i class="fas fa-home"></i>

                <span>Dashboard</span>

            </li>

            <li onclick="location.href='../pages/aiAgents.html'">

                <i class="fas fa-robot"></i>

                <span>AI Agents</span>

            </li>

            <li onclick="location.href='../pages/energy.html'">

                <i class="fas fa-bolt"></i>

                <span>Energy</span>

            </li>

            <li onclick="location.href='../pages/maintenance.html'">

                <i class="fas fa-tools"></i>

                <span>Maintenance</span>

            </li>

            <li onclick="location.href='../pages/occupancy.html'">

                <i class="fas fa-users"></i>

                <span>Occupancy</span>

            </li>

            <li onclick="location.href='../pages/security.html'">

                <i class="fas fa-shield-alt"></i>

                <span>Security</span>

            </li>
            <li onclick="location.href='../pages/cost.html'">

                <i class="fas fa-coins"></i>

                <span>Cost</span>

            </li>
            <li onclick="location.href='../pages/executive.html'">

                <i class="fas fa-chart-pie"></i>

                <span>Executive Dashboard</span>

            </li>

            <li>

                <i class="fas fa-chart-line"></i>

                <span>Analytics</span>

            </li>

            <li>

                <i class="fas fa-file-alt"></i>

                <span>Reports</span>

            </li>

            <li>

                <i class="fas fa-cogs"></i>

                <span>Settings</span>

            </li>

        </ul>

    </nav>

    <!-- AI Assistant -->
    <div class="assistant-card">

        <h4>

            <i class="fas fa-circle"
               style="color:#22C55E;font-size:10px;"></i>

            AI Assistant

        </h4>

        <p>Online</p>

        <button id="assistant-btn">

            Ask AI

        </button>

    </div>

    <!-- Logged-in User -->
    <div class="profile">

        <img
            src="https://ui-avatars.com/api/?name=Facility+Manager&background=2563EB&color=ffffff"
            alt="Profile">

        <h4 id="user-name">

            Logged-in User

        </h4>

        <p id="user-role">

            Facility Manager

        </p>

        <button id="logout-btn">

            Logout

        </button>

    </div>   

</aside>